<h1> Add A New photo </h1>

<form action="/create_photo">
	<div>
		<label> Caption: </label>
		<input type="text" name="the_caption"> 
	</div>
	<div>
		<label> Image URL: </label>
		<input type="text" name="the_source"> 
    </div>
	<button> Create Photo </button>

</form>